<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Vote Now!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </head>

  <body>
    <h1>Vote for your favorite animal!</h1>
    <div class="button-container">
      <button onclick="sendVote('dogs')">Dogs</button>
      <button onclick="sendVote('cats')">Cats</button>
      <button onclick="sendVote('birds')">Birds</button>
      <button onclick="sendVote('fish')">Fish</button>
    </div>
    <h2>Your vote for:</h2>
    <p id="user-vote">None</p>    
  </body>
</html>
